.groupsModalHeader_container {
  height: 50px;
  background-color: #5580a3;
  color: #fff;
  padding: 10px 20px;
}

.groupsModalHeader_close {
  float: right;
  line-height: 28px;
  cursor: pointer;
  color: #dadada;
}

.groupsModalHeader_title {
  font-weight: 700;
  font-size: 16px;
  line-height: 33px;
}

.groupsModalHeader_close:hover {
  color: #fff;
}

.groups-modal-list {
  height: calc(100% - 100px);
}

.create-group-users-list {
  height: calc(100% - 180px);
}

.create-group-button {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.create-group-back-button {
  position: absolute;
  bottom: 15px;
  left: 15px;
}
