.ReactModal__Overlay {
  z-index: 100;
  background-color: rgba(26,26,26,.7) !important;
}

.ReactModal__Content {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  padding: 0 !important;
  border-radius: 0 !important;
  border: 0 !important;
}
