.go-to-create-purchase-btn {
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 30px;
  color: #d1c7be;
}

.purchases-list {
  position: relative;
}

.purchase-item {
  padding: 10px;
  background-color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
}

.purchase-item:hover {
  font-weight: bold;
  border-bottom: 2px solid #6ab344;
}

.purchase-item_selected {
  font-weight: bold;
  background-color: #6ab344;
}

.purchase-viewer {
  margin-left: 300px;
  height: 100%;
  border-right: 1px solid #d3d3d3;
}

.purchase-info-centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.purchase-info-container {
  background-color: #fff;
  height: 100%;
  margin: auto;
  position: relative;
  text-align: center;
}

.purchase-info_credit-card-container {
  position: relative;
  display: inline-block;
}

.purchase-info_credit-card__owner {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: #fff;
}

.purchase-info_amount {
  margin-top: 40px;
  font-size: 20px;
}

.purchase-info_buttons {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.add-purchase-btn {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 0;
  font-size: 24px;
  line-height: 50px;
  min-width: 0;
  bottom: 50px;
  left: 200px;
}

.create-purchase_groups {
  background-color: #fff;
  height: 100%;
  position: relative;
}

.create-purchase_group-item {
  padding: 10px 5px;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid #dcdcdc;
}

.create-purchase_groups-list {
  overflow-y: scroll;
  height: calc(100% - 50px);
}


.create-purchase_group-item__name {
  font-size: 14px;
  margin-left: 10px;
}

.create-purchase_users {
  background-color: #fff;
  height: 100%;
  border-right: 1px solid #d3d3d3;
  position: relative;
}

.create-purchase-button-container {
  position: absolute;
  width: 100%;
  height: 76px;
  bottom: 0;
  border-top: 1px solid #d3d3d3;
}

.create-purchase_users-list {
  height: calc(100% - (50px + 60px));
}

.create-purchase_next-step {
  position: absolute;
  bottom: 0px;
  height: 60px;
  left: 0;
  right: 0;
  border-top: 1px solid #dcdcdc;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.create-purchase_next-step > button{
  display: inline-block;
  margin-right: 10px;
}

.create-purchase_next-step > button:last-child {
  margin-right: 0;
}

.create-purchase_user-item {
  position: relative;
  padding: 10px;
  border-top: 1px solid #dcdcdc;
  text-align: left;
  padding-right: 30px;
}

.create-purchase_user-item:first-child {
  border-top: 0px;
}

.create-purchase_user-item__checkbox {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.create-purchase-participants-container {
  height: calc(100% - (48px + 160px));
  text-align: center;
  overflow-y: scroll;
  padding-top: 20px;
}

.create-purchase-form {
  background-color: #fff;
}

.create-purchase_participant {
  display: inline-block;
  width: 30%;
}

.create-purchase-buttons-container {
  position: absolute;
  bottom: 40px;
  right: 50px;
}

.create-purchase-total-sum-container {
  margin-left: 100px;
  margin-top: 15px;
}

.create-purchase-total-sum_text {
  font-size: 18px;
}

.create-purchase-total-sum_input {
  width: 150px;
}

.owner-purchase-info-container {
  margin: 0;
}

.purchase-info_participant-container {
  border: 1px solid #dcdcdc;
  display: inline-block;
  width: 200px;
  height: 150px;
  position: relative;
  margin: 20px 0 0 20px;
  background-color: #fff;
}

.purchase-info_participant {
  position: absolute;
  left: 20px;
  bottom: 30px;
}

.purchase-info_participant__status {
  font-size: 20px;
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  background-color: #dcdcdc;
}

.purchase-info_participant__status-paid {
  background-color: #6ab344;
}

.purchase-info_participant__sum {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.purchase-info_participant__username {
  font-size: 20px;
  text-align: left;
  margin-bottom: 10px;
}
